@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,700&family=Outfit:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:ital,wght@0,500;1,700&family=Outfit:wght@300;400;600&display=swap');
*{
   margin:0;
   padding:0;
}
.container{
    /* background-color:yellow; */
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;


    
}
.box{
    background-color:hsl(30, 38%, 92%) ;
    height:100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 2rem;
}
.box1
{
    background-color: white;
    height:50vh;
    width: 32vw;
    border-radius: 10px;
    display:flex;
    font-family: 'Outfit', sans-serif;
    
    
}
.image > img{
    width:16vw;
    height: 50vh;
    border-radius: 10px;


}
.right{
    flex-direction: column;

}

.head{
    color:hsl(228, 12%, 48%);
    font-size: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    letter-spacing:7px;
}
.section1{
    line-height:2rem;
    color:black;
    font-size:2rem;
    font-weight: 900;
    width:14vw;
    height:23vh ;
    font-family: 'Fraunces', serif;
    margin-left: 25px;
  

}
.section2{
    margin-left: 25px;
    margin-top:-5rem;
    color:hsl(228, 12%, 48%);
    font-size: 14px;
    width:13vw;
    line-height: 20px;
}
.section3 {
    margin-left: 25px;
    margin-top: 1rem;
    font-family: 'Fraunces', serif;
    word-spacing: 30px;

}
.left{
    color:hsl(158, 36%, 37%);
    font-weight: 900;
    font-size: 28px;
    font-family: 'Fraunces', serif;

   

}
.section3> .right{
    font-size:12px;
    color:hsl(228, 12%, 48%);
    font-family: 'Outfit', sans-serif;
    text-decoration: line-through;
}



.footer{
    background-color:hsl(158, 36%, 37%);
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 2rem;
    height:42px;
    width:12vw;
    display:flex;
    align-items: center;
    justify-content: center;
    

}
.footer >span{
    color:hsl(0, 0%, 100%);
    margin-left: 9px;
    font-size: 13px;

}

